[project]
name = "FailoverCache"
version = "1.0.0"
description = "A flexible Python cache system with automatic fallback to disk when Redis is unavailable"
authors = [{ name = "Endkind", email = "endkind.ender@endkind.net" }]
readme = "README.md"
requires-python = ">=3.9"
license = { file = "LICENSE" }
classifiers = [
  "Programming Language :: Python :: 3",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
  "Intended Audience :: Developers",
  "Topic :: Software Development :: Libraries",
]

dependencies = [
  "redis >= 6.2.0",
  "diskcache >= 5.6.3",
]
