[project]
name = "nuanced"
version = "0.1.9"
description = "Nuanced Python"
readme = "README.md"
authors = [
    { name = "Ayman Nadeem", email = "ayman@nuanced.dev" }
]
requires-python = ">=3.10"
dependencies = [
    "jarviscg==0.1.0rc7",
    "setuptools>=75.3.0",
    "typer>=0.16.0",
]

[project.scripts]
nuanced = "nuanced:cli.main"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[dependency-groups]
dev = [
    "deepdiff>=8.2.0",
    "pytest>=8.3.4",
    "pytest-mock>=3.14.0",
]

[tool.pytest.ini_options]
pythonpath = [
    "."
]
